{% extends 'base.html' %}

{% block main %}

<div class="property-info-card">

    <!-- LEFT: Image -->
    <div class="property-image">
        <img src="{{ url_for('get_image', filename=property.photo) }}" alt="Property Image">
    </div>

    <!-- RIGHT: Details -->
    <div class="property-info">
        <h2>{{ property.title }}</h2>

        <!-- Price + Type -->
        <div class="tags">
            <span class="price">${{ "{:,.2f}".format(property.price) }}</span>
            <span class="type">{{ property.type }}</span>
        </div>

        <!-- Description -->
        <p class="description">
            {{ property.description }}
        </p>

        <!-- Bedrooms & Bathrooms -->
        <p class="info">
            <i class="fas fa-bed"></i> {{ property.bedrooms }} Bedroom(s)
            &nbsp;&nbsp;
            <i class="fas fa-bath"></i> {{ property.bathrooms }} Bathroom(s)
        </p>

        <!-- Location -->
        <p class="location">
            <i class="bi bi-geo-alt"></i> {{ property.location }}
        </p>

        <!-- Button -->
        <button class="email-btn">Email Realtor</button>
    </div>

</div>

{% endblock %}


